
<style >
    .test{display: block;}
    .test li{
        float: left;
    }
</style>
<ul class="test">
    <li>
        <div class="dogs-1"></div>

    </li>
    <li>
        <div class="dogs-2"></div>
    </li>
    <li>
        <div class="dogs-3"></div>
    </li>
    <li>
        <div class="dogs-4"></div>
    </li>
    <li>
        <div class="dogs-5"></div>
    </li>
    <li>
        <div class="dogs-6"></div>
    </li>
    <li>
        <div class="dogs-7"></div>
    </li>
    <li>
        <div class="dogs-8"></div>
    </li>
    <li>
        <div class="dogs-9"></div>
    </li>
    <li>
        <div class="dogs-10"></div>
    </li>
    <li>
        <div class="dogs-11"></div>
    </li>
    <li>
        <div class="dogs-12"></div>
    </li>
    <li>
        <div class="dogs-13"></div>
    </li>
    <li>
        <div class="dogs-14"></div>
    </li>
    <li>
        <div class="dogs-15"></div>
    </li>
    <li>
        <div class="dogs-16"></div>
    </li>
    <li>
        <div class="dogs-17"></div>
    </li>
    <li>
        <div class="dogs-18"></div>
    </li>
    <li>
        <div class="dogs-19"></div>
    </li>
</ul>
