.dogs-1{
    background: url("../images/dogs.png") 0 -64px no-repeat ;
    height: 90px;
    width: 90px;
    display: block;
}
.dogs-2{
    background: url("../images/dogs.png") 0 -230px no-repeat ;
    height: 125px;
    width: 230px;
    display: block;
}
.dogs-3{
    background: url("../images/dogs.png") 0 -358px no-repeat ;
    height: 95px;
    width: 112px;
    display: block;
}
.dogs-4{
    background: url("../images/dogs.png") 0 -455px no-repeat ;
    height: 95px;
    width: 93px;
    display: block;
}
.dogs-5{
    background: url("../images/dogs.png") 0 -550px no-repeat ;
    height: 115px;
    width: 74px;
    display: block;
}
.dogs-6{
    background: url("../images/dogs.png") 0 -673px no-repeat ;
    height: 125px;
    width: 137px;
    display: block;
}
.dogs-7{
    background: url("../images/dogs.png") 0 -882px no-repeat ;
    height: 133px;
    width: 117px;
    display: block;
}
.dogs-8{
    background: url("../images/dogs.png") 0 -1045px no-repeat ;
    height: 252px;
    width: 107px;
    display: block;
}
.dogs-9{
    background: url("../images/dogs.png") 0 -1296px no-repeat ;
    height: 120px;
    width: 68px;
    display: block;
}
.dogs-10{
    background: url("../images/dogs.png") 0 -1440px no-repeat ;
    height: 125px;
    width: 186px;
    display: block;
}
.dogs-11{
    background: url("../images/dogs.png") 0 -1595px no-repeat ;
    height: 115px;
    width: 54px;
    display: block;
}
.dogs-12{
    background: url("../images/dogs.png") 0 -1730px no-repeat ;
    height: 115px;
    width: 105px;
    display: block;
}
.dogs-13{
    background: url("../images/dogs.png") 0 -1846px no-repeat ;
    height: 120px;
    width: 85px;
    display: block;
}
.dogs-14{
    background: url("../images/dogs.png") 0 -1980px no-repeat ;
    height: 115px;
    width: 85px;
    display: block;
}
.dogs-15{
    background: url("../images/dogs.png") 0 -2115px no-repeat ;
    height: 155px;
    width: 150px;
    display: block;
}
.dogs-16{
    background: url("../images/dogs.png") 0 -2270px no-repeat ;
    height: 240px;
    width: 170px;
    display: block;
}
.dogs-17{
    background: url("../images/dogs.png") 0 -2520px no-repeat ;
    height: 250px;
    width: 285px;
    display: block;
}
.dogs-18{
    background: url("../images/dogs.png") 0 -2790px no-repeat ;
    height: 590px;
    width: 185px;
    display: block;
}
