<html>
  <head>
    <meta content='{{ site.title }}' property='og:title' />
    <title>{{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div id='container'>
      {% include links.html %}
      <div class="content">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}


  </body>

<script>
    $.ajax({
                type:"get",
                url:"http://localhost:4000/search/",
                success:function(data){
                    data=data.replace(/(\r|\n)/g,"").replace(/<[^>]+>/g,"");
                    data=eval('('+data+')');
                    console.log(data);
                    //$("#search").html(data[0].content)
                }
            }
    );
</script>
</html>
